<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My records</title>
</head>
<body>
    <div>
        <h2>Covid19 Statistics for All Countries</h2>
        <% myRecords.forEach(element => { %>
        <div class="container">
            <form action="/country" method="GET">

                <p class="data-box">Country: <%=element.countryname%></p>
                <p class="data-box">Date: <%=element.date%></p>
                <input type="text" value="<%=element.id%>" name='id' hidden>
                <button>VIEW DETAILS</button>
            </form>
        </div>
        <br>
        <% }); %>
    </div>
    
</body>
</html>